{
  "index_patterns": ["logs-zeek-so*"],
  "data_stream": {},
  "priority": 500,
  "template": {
    "settings": {
      "index.lifecycle.name": "nss-ndr-logs",
      "index.number_of_replicas": 0
    },
    "mappings": {
      "properties": {
        "@timestamp": { "type": "date" },
        "event": {
          "properties": {
            "dataset": { "type": "keyword" },
            "module": { "type": "keyword" },
            "kind": { "type": "keyword" },
            "category": { "type": "keyword" }
          }
        },
        "source": { "properties": { "ip": { "type": "ip" }, "port": { "type": "long" } } },
        "destination": { "properties": { "ip": { "type": "ip" }, "port": { "type": "long" } } },
        "network": { "properties": { "transport": { "type": "keyword" }, "protocol": { "type": "keyword" } } },
        "dns": { "type": "object", "dynamic": true },
        "http": { "type": "object", "dynamic": true },
        "url": { "type": "object", "dynamic": true },
        "tls": { "type": "object", "dynamic": true },
        "message": { "type": "object", "enabled": false }
      }
    }
  }
}
