{
  "index_patterns": ["logs-suricata.alerts-so*"],
  "data_stream": {},
  "priority": 500,
  "template": {
    "settings": {
      "index.lifecycle.name": "nss-ndr-logs",
      "index.number_of_replicas": 0
    }
  }
}
