## Global ZeekControl configuration file

CfgDir = /opt/zeek/etc
LogDir = /nsm/zeek/logs
SpoolDir = /nsm/zeek/spool
SitePolicyScripts = local.zeek

LogRotationInterval = ${LOG_ROTATION_INTERVAL}
CompressLogs = 1
LogExpireInterval = 0

StatsLogEnable = 1
StatsLogExpireInterval = 0
StatusCmdShowAll = 0
CrashExpireInterval = 0

MailTo = root@localhost
MailConnectionSummary = 0
MailHostUpDown = 0
MinDiskSpace = 5

ZeekPort = 27760
FileExtractDir =
