# NSS-NDR Zeek node.cfg（由 render-configs.py 渲染）

[manager]
type=manager
host=localhost

[logger]
type=logger
host=localhost

[proxy]
type=proxy
host=localhost

[worker-1]
type=worker
host=localhost
interface=af_packet::${INTERFACE}
lb_method=custom
lb_procs=${WORKERS}
af_packet_fanout_id=23
af_packet_fanout_mode=AF_Packet::FANOUT_HASH
af_packet_buffer_size=${BUFFER_SIZE}
